asgiref==3.2.5
astroid==2.2.5
beautifulsoup4==4.8.2
certifi==2019.11.28
colorama==0.4.1
Django==2.2.11
django-bootstrap-form==3.4
django-extensions==2.2.8
django-markdown-deux==1.0.5
email-reply-parser==0.5.9
isort==4.3.21
lazy-object-proxy==1.4.1
lxml==4.5.0
markdown2==2.3.8
mccabe==0.6.1
pydot==1.4.1
pylint==2.3.1
pyparsing==2.4.6
pytz==2019.3
simplejson==3.17.0
six==1.12.0
soupsieve==2.0
sqlparse==0.3.1
typed-ast==1.4.0
typing==3.6.4
wincertstore==0.2
wrapt==1.11.2
